<app-nav></app-nav>
<section class="form__login">
    <div class="wrapper">
        <form class="login" data-login id=${0} type="submit">
          <p class="title">Ingresar</p>
          <div class="input-container">
            <input data-nombre-user class="input" type="text" id='nombre-user' nombre="nombre-user" placeholder="Nombre Usuario" required autofocus/>
            <!-- <span class="input-menssage-error">Este campo es requerido</span> -->
          </div>
          <div class="input-container">
            <input data-contraseña-user class="input" type="password" id='contraseña-user' nombre="contraseña-user" placeholder="Contraseña" required/>
            <!-- <span class="input-menssage-error">Este campo es requerido</span> -->
          </div>
          <button class="cargar__form">
            <!-- <i class="spinner"></i> -->
            <span class="state">Ingresar</span>
          </button>
        </form>
      </div>
</section>
<app-footer></app-footer>
