<app-header></app-header>
<main class="contenido">
    <section class="populares" id="contenedorProd">
        <div class="populares__contenido" id="productoList">
            
            <!-- LISTA DESDE BDD -->

            <div class="populares__card" *ngFor="let juego of productoList; let i = index">
                <img class="populares__card___imagen" [src]="juego.imagen">
                <div class="populares__card___base">
                    <div class="populares__card___header">

                        <h5 class="populares__card___titulo">{{juego.nombre}}</h5>
                        
                    </div>
                    <div class="populares__card___descripcion">
                        {{juego.descripcion}}
                    </div>
                </div>

                <!--BOTON AGREGAR-->
                <!-- <div class="populares__principal">
                    <button class="populares__boton btn__edit">
                        <i class="fas fa-cart-plus"></i>
                    </button>
                </div> -->
            </div>
            <!--modal para ingresar cantidad-->
            
        </div>
    </section>
</main>
<app-footer></app-footer>