<header class="encabezado">
    <nav class="menu">
        <ul class="menu__lista">
            <li class="menu__item">
                <a class="menu__link " href="#">
                    <i class="fas fa-home"></i>
                    Inicio
                </a>
                <a class="menu__link" routerLink="/juegos" routerLinkActive="active">
                    <i class="fas fa-gamepad"></i>
                    Juegos
                </a>
                <a class="menu__link" routerLink="/carrito" routerLinkActive="active">
                    <i class="fas fa-cart-plus"></i>
                    Carrito
                </a>
                <a class="menu__link" routerLink="/historial" routerLinkActive="active">
                    <i class="fas fa-history"></i>
                    Historial
                </a>
                <a class="menu__link" routerLink="/clientes" routerLinkActive="active">
                    <i class="fas fa-users"></i>
                    Clientes
                </a>                 
                <a class="menu__link" id="btn-login" routerLink="/login" routerLinkActive="active">
                    <i class="fas fa-sign-in-alt"></i>
                    Login | Logout
                </a>
            </li>
        </ul>
    </nav>        
</header>